{% extends 'baseAdmin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Hello QuizController!{% endblock %}

{% block body %}
<h2>Editer une question</h2>
<div class="center">
    {{ form_start(form, {'attr':{'class': 'font-weight-bolder'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Valider les modifications</button>
    {{ form_end(form) }}</div>
{% endblock %}