{% extends 'base.html.twig' %}

{% block title %}Hello QuizController!{% endblock %}

{% block body %}
<div id="score">
</div>
<div class="center">
    {{ titre | raw}}
    {{ message }}
    <br>
    définition de la POO
</div>
{% endblock %}

